
// Mixins
// @import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/icons-material-design";
/*@import "components/grid";
@import "components/navbar";*/
/*@import "components/roboto";*/
@import "components/typography";
/*@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";*/
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/date_picker/default";
@import "components/date_picker/default.date";
@import "components/date_picker/default.time";
body {
    background-color: #fbfbfb;
    font-family: 'Roboto', sans-serif !important;
}
.header-inner .logo a {
    color: #fff;
    text-transform: none;
    padding: 0;
    display: block;
    font-size: 30px;
    line-height: 36px;
    font-family: 'Sacramento', cursive;
    font-weight: bold;
}

.top-serch{
    padding:15px 0;

    .glyphicon-search{
        padding: 0 10px 5px 0;
        color: #fff;
        font-size: 24px;
    }
    .main-search-input{
        background: none;
        border: none;
        color: #fff;
        font-weight: 200;
        font-size: 16px;
    }
    input[type="text"].main-search-input::-moz-placeholder{
        color:#fff;
    }
    
     input[type="text"].main-search-input::-webkit-input-placeholder{
        color:#fff;
        
    }
}
.main-action-bar{
    background:#BDC3C7; 
    padding:0 20px 20px;
}

.font-14{
    font-size:14px !important;
    font-weight:500;
}
h1, h3{font-size:26px;}

/*-------user login and registration--------*/
.login-content{
    .input-field label{
        font-weight:300 !important;
        margin-left:-10px;
    }

}
.top-menu > notifications> li > a.tm-notification {
    background-image: url(../img/icons/notification@2x.png);
    background-size: 24px 24px;
}

.tmn-counts {
    position: absolute;
    color: #FFF;
    font-style: normal;
    background: #f44336;
    padding: 1px 5px;
    border-radius: 2px;
    right: -10px;
    top: -3px;
    font-size: 10px;
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.glyphicon-bell{
    font-size: 26px;
    color: #fff;
}

.modal{
    background:none;
    box-shadow:none;
}
/*-----timeline------*/

.timeline-icon{
    width: 40px;
    height: 40px;
    color: #6C7A89;
    text-align: center;
    padding: 9px 0;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 10px;
    border: 2px solid #6C7A89;
}
.timeline-img{
    background: #6C7A89;
    width: 40px;
    height: 40px;

    border-radius:50px;

}

.timeline-timestamp{
    text-align:center; margin-left:-20px;
}

.timeline-time{font-size:10px; margin-top:-5px;}

.timeline-wrapper{
    background:none;
    margin-bottom:20px;
}

.timeline-group-heading{
    max-width: 110px;
    background: #DADFE1;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
  transition: .2s ease-out;

    a{
        color:#333;
    }
}
.timeline-group-heading:hover{
        background-color: #2bbbad;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

        a{
 color:#fff;
        }
}
.timeline-heading{
    background: #DADFE1;
    padding: 10px;
    font-weight: 300;
    margin-top: 10px;
    transition: .2s ease-out;
    /*box-shadow: #f1f1f1 1px 2px 5px;*/
    font-size:16px;
    border-radius:2px;
    /*position:relative;*/
    a{
        color:#333;
    }
}
.timeline-heading:hover{
     background-color: #2bbbad;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
         a{
 color:#fff;
        }
}

.timeline-description{
    background: #fff;
    padding: 10px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
}

/*----------- timeline accordian componant------------*/
accordion-group .panel-open a .show-content {
    display: inline-block;
}

accordion-group .panel-open a .hide-content {
    display: none !important;
}

 a .hide-content {
    display: inline-block;
}

 a .show-content {
    display: none;
}


