
// Mixins
// @import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/icons-material-design";
/*@import "components/grid";
@import "components/navbar";*/
/*@import "components/roboto";*/
@import "components/typography";
/*@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";*/
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/date_picker/default";
@import "components/date_picker/default.date";
@import "components/date_picker/default.time";
body {
    background-color: #fbfbfb;
    font-family: 'Roboto', sans-serif !important;

    #content{
        padding:0 0 30px 0 !important;
    }
    #main{
        margin-top:50px;
    }
    #header {
    background: #0277bd;
    z-index:9999999;
    }

}
.header-inner .logo a {
    color: #fff;
    text-transform: none;
    padding: 0;
    display: block;
    font-size: 30px;
    line-height: 36px;
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    text-decoration:none;
}

.login-logo {
  color: #fff;
    text-transform: none;
    display: block;
    font-size: 60px;
    font-family: 'Sacramento', cursive;
    text-decoration: none;
    padding: 50px 0 0 0 !important;
    text-align: center;
    font-weight: 600;

}
.logo-title{
    color: #ddd;
    font-weight: 200;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    padding-bottom: 80px;
}
.login-form-div{
        background: #0277bd;
    padding: 50px;
    height: 100vh;
    /* padding-top: 16vh !important; */
    float: right;
    [type="checkbox"].filled-in:not(:checked) + label:after{
        border:2px solid #ddd !important;
    }

    input[type="text"]{margin-bottom:50px;}

     label{
        color:#BDC3C7 !important;
         opacity:0.8;
    }

    input[type="text"], input[type="password"]{
        color:#fff !important;
        font-size: 18px;
    font-weight: 300;
    }
     input[type="text"]::-moz-placeholder{
        color:#BDC3C7;
        opacity:0.8;
    }
    
     input[type="text"]::-webkit-input-placeholder{
         color:#BDC3C7;
        opacity:0.8;
        
}
       input[type="password"]::-moz-placeholder{
         color:#BDC3C7;
        opacity:0.8;
    }

     input[type="password"]::-webkit-input-placeholder{
         color:#BDC3C7;
        opacity:0.8;
        
    }
}
.top-serch{
    padding: 10px 0 15px 0;

    .glyphicon-search{
        padding: 0 10px 5px 0;
        color: #fff;
        font-size: 24px;
    }
    .main-search-input{
        background: none;
        border: none;
        color: #fff;
        font-weight: 200;
        font-size: 16px;
    }
    input[type="text"].main-search-input::-moz-placeholder{
        color:#fff;
    }
    
     input[type="text"].main-search-input::-webkit-input-placeholder{
        color:#fff;
        
    }
     .input-group-addon{
         background:none;
         border:none;
     }
}
.main-action-bar{
    background:#cfd8dc; 
    padding: 0 20px 10px;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.m-t-10{margin-top:10px;}
.font-14{
    font-size:14px !important;
    font-weight:300;
}

.font-54{
    font-size:54px !important;
}
h1, h3{    
    font-size: 22px;
    }

.add-note-form{

    h1, h3{    
        font-size: 22px;
    margin: 10px 0 20px !important;

    }
}

.float-left{float:left !important;}

.btn-secondary{
    background:#2383bc !important;
}

#chat{
    top:121px !important;
    height: calc(100% - 121px) !important;
    z-index:8 !important;
}


/*-------user login and registration--------*/
.login-content{
    background-image: url('../img/loging-bg.jpg');
    background-size: contain;
    background-position-x: -100px;
    /*background:#0277bd;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);*/

    .input-field label{
        font-weight:300 !important;
        margin-left:-10px;
    }


}
.top-menu > notifications> li > a.tm-notification {
    background-image: url(../img/icons/notification@2x.png);
    background-size: 24px 24px;
}

.tmn-counts {
    position: absolute;
    color: #FFF;
    font-style: normal;
    background: #f44336;
    padding: 1px 5px;
    border-radius: 2px;
    right: -10px;
    top: -3px;
    font-size: 10px;
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.glyphicon-bell{
    font-size: 26px;
    color: #fff;
}

.modal{
    background:none;
    box-shadow:none;
}
/*-----timeline------*/

h1{
    .btn {
            padding: 0 20px;
            margin-left:10px;
        span{
                display: block;
                float: right;
                padding: 1px 0 0 10px;
        }
    }
}

prime-app{
    input[type=text]{ height:20px;}
}

.timeline-icon{
    width: 40px;
    height: 40px;
    color: #ddd;
    text-align: center;
    padding: 9px 0;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 25px;
    /*margin: 0 0 0 -35px;*/
    border: 1px solid #ddd;
    background: #fff;
}
.timeline-img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.10);
    margin-right: 10px; 
    margin-top: 10px; 
}

.timeline-timestamp{
    text-align:center; 
    margin-left: -25px;
    margin-bottom: 20px;
}

.timeline-time{font-size:10px; margin-top:5px;}

.timeline-wrapper{
    background:none;
    margin-bottom:20px;
}

.timeline-group-heading{
    width: 20%;
    background: #90a4ae;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
    transition: .2s ease-out;
    position:relative;
    z-index:99;

    a{
        color:#fff;
    }
}
.timeline-group-heading:hover{
        background-color: #738a95;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

        a{
             color:#fff;
             text-decoration:none;
        }
}
.timeline-heading{
    /*background: #eceff1;*/
    background:#fff;
    padding: 10px;
    font-weight: 400;
    /*margin-top: 5px;*/
    /*margin-left:64px;*/
    transition: .2s ease-out;
    /*box-shadow: #f1f1f1 1px 2px 5px;*/
    font-size:16px;
    border-radius:2px;
    /*position:relative;*/
    a{
        color:#333;
    }
}
/*.timeline-heading:hover{
     background-color: #2bbbad;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
         a{
 color:#fff;
 text-decoration:none;
        }
}*/
.note-list-item-heading {
    display:block;  
    margin-bottom:6px;
}

.cd-timeline-block .panel-open .note-list-item-heading {
    margin-bottom:0px;
}

.timeline-description{
    padding: 0 10px;
    /*box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);*/
    /*margin-left:64px;*/
    font-size: 12px;
    font-weight: 300;
}

/*----------- timeline accordian componant------------*/
.panel-open a .show-content {
    display: inline-block ;
}

.panel-open a .hide-content {
    display: none;
}
timeline-detail-group > .panel-open > .timeline-heading a .show-content {
   display: inline-block;
}

timeline-detail-group > .panel-open > .timeline-heading a .hide-content {
    display: none ;
}
 timeline-group a .hide-content {
    display: inline-block;
}

timeline-group a .show-content, timeline-detail-group .timeline-heading  a .show-content{
    display: none ;
}

.clear {
    clear:both;
}

.pleft-10 {
    padding-left:10px;
}

/*----------Add note slider ---------*/

#chat{
    width:60% !important;
    overflow-x:hidden;
    overflow-y:scroll;
    padding: 0 20px;
     display:none !important;

     .container{
         width: 100% !important;
         margin: 0 !important;

         #dropZone{
             padding:10px !important;
             font-size:16px !important;
         }
     }
     .file-upload{font-size:15px;}
     .upload-file-name{width:70%;}
     .add-note-tag{ color:#0277bd; font-weight:500; padding:0 10px;}

     .tags-widget{ .water-mark-text {
    color: #ccc;
    text-align: center;
    padding: 26px;
    font-size: 18px;
    font-weight: 400;
}

     }
}

#chat.toggled {
    display: block !important;
    padding-top: 10px;
    background: #fbfbfb;
  display:block !important;
  z-index:99999 !important;
}
/*----------Add Note ---------*/

.ql-container{
    min-height:200px;
    background:#fff;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;

    .ql-editor{
         min-height:200px;
    }
}

.add-note-widget {
    background: #fff;
    padding: 10px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05); 
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 300;
    min-height:200px;
}
.add-note-form{background: #fff;
    margin-top: 20px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
    padding: 20px 40px;}

.reqire-field{
    color: red;
    font-size: 12px;
    padding: 2px 0 5px;
}

.ui-autocomplete{width:100%;}
/*.ui-autocomplete-input-token{float:none;}*/

.area {
    width: 100%;
    padding: 15px;

}
#dropZone {
  border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-size: 21px;
    color: #bbb;
}
.file-upload{
background: none !important;
    box-shadow: none !important;
    text-transform: none;
    color: #0277bd;
    font-size: 18px;
    letter-spacing: 0;
}

.upload-file-name{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
    white-space: nowrap;
    display: block;
    float: left;
    padding: 12px 0 0 5px;
}

.upload-file-delete{
    display: block;
    padding: 12px 0;
}

.tags-widget {
    background: #fff;
    padding: 30px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    min-height: 200px;

    .water-mark-text{
            color: #ccc;
    text-align: center;
    padding: 45px;
    font-size: 21px;
    font-weight: 400;
    }
}
/*----------Recent timeline ---------*/

.recent-timeline-timestamp {
    text-align: center;
    font-size: 22px;
    float:left;
    width:12%;
    background-color:#dbdbdb;
    padding:8px;
}
.recent-timeline-timestamp .recent-timeline-date {
    display: block;
    line-height: 24px;
    font-size: 30px !important;
    font-weight:400;
    margin-top:5px;
}
.recent-timeline-timestamp .recent-timeline-month {
    color: #666;
    min-width: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    display: block;
}
.ui-autocomplete-input-token {
    width:60%;
}
.recent-timeline-tags{
    font-size: 20px;
    font-weight:400;
    text-decoration: none;
    position:relative;
}
.recent-timeline-tags>span {
    line-height: 18px;
    display: block;
    margin-bottom: 6px;
}
.recent-timeline-tags:hover{
        text-decoration: none;
        cursor:pointer;
}
.lv-body .btn{
    font-size:12px !important;
}

.link-tag {
    color:#0277bd;
    line-height:25px;
    /*background-color:#fff;
    padding: 0 5px;*/
}

.lbl-timeline-date {
    font-size:30px !important;
}

.lbl-timeline-month {
    top:20px !important;
    color:#999;
}

.timeline-group-heading-count {
    padding:10px; 
    width:80%; 
    text-align:center;
    position:relative;
    z-index:99;
    cursor:pointer;

   a {
        color:#333 !important;
    }

   .zmdi {
       font-size:24px !important;
       vertical-align:middle;
       float:right;
       line-height: 20px;
   }
}

.timeline-item-datetime-container {
    text-align:center; 
    position:absolute; 
    left: -19%;
    top: 4px; 
    width:100px;
}

.ui-autocomplete {
    z-index:999;
}

.box {
    box-shadow: 0 2px 4px rgba(0,0,0,.1),0 -1px 0 rgba(0,0,0,.02);
    background-color: #fff;
    position: relative;
    margin-bottom: 1.5rem;
    overflow:hidden;
}

.box-footer, .box-header {
    padding: 1rem;
}

.box-body {
    padding:0 1rem 1rem 1rem;
}

.box-header {
    overflow:hidden;
}

.box-header h3 {
    font-size: 16px;
    margin: 0;
    line-height: 20px;
    font-weight:500;
    color:#000;
}

.list {
    padding-bottom: 8px;
}

.list-item {
    display: block;
    position: relative;
    padding: 8px;
    margin: 0 0 0.5rem;
    background-color:#e4e4e4;
}

.list-left {
    float: left;
    padding-right: 1rem;
}

.list-left+.list-body {
    margin-left: 46px;
}

.list-left .avatar {
    margin-top: 6px;
    display: inline-block;
}

.list-left .avatar img {
    width:30px;
    height:30px;
}

.list-body a {
    color:#333;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

 small {
    font-size: 80%;
    font-weight: 400;
}

.text-muted {
    color: inherit;
    opacity: .6;
}

.clickable {
    cursor:pointer;
}

.fluid-autocomplete .ui-autocomplete {
    width:100%;
}

.note-desc {
    font-weight: 300; 
    font-size: 12px; 
    text-decoration: none;
    float:left;
    margin-right:6px;
}

.common-link {
    color:#0277bd !important;
    font-size:12px;
    display:block;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background-color:#0277bd !important;
    border:1px solid #0277bd !important;
}

.attachment-list-container {
    clear: both;
    padding-left: 10px;
    padding-top:10px;
    overflow:hidden;
}

.attachment-list-item {
    font-size: 12px;
    float:left;
    margin-right:10px;
    line-height:20px;
}

.attachment-list-item a
{
    color:#999;
}

.attachment-list-item .glyphicon {
    color:#90a4ae !important;
}

#sidebar.toggled {
    z-index:99999999 !important;
}

.share-note-icon {
    color:#90a4ae;  
    background-color: transparent;
    box-shadow: none;
    border: 0 none;
}

.share-note-icon:hover, .share-note-icon:focus {
    background-color: transparent !important;
    color:#2383bc;  
}

.share-note-icon .glyphicon {
    font-size:20px;
}

.add-tag {
    float:left;
    line-height:25px;
    padding: 0 5px;
}

.mtop-40 {
    margin-top:40px !important;
}

.mtop-14 {
    margin-top:14px !important;
}

.mright-5 {
    margin-right:5px;
}

.btn-like {
    border-radius: 500px;
    padding:0.4em 1.2em;
    border:1px solid rgba(120,130,140,.13);
    color: rgba(0,0,0,.87);    
    display:inline-block;
    font-weight:500;
    font-size:14px;

    .fa-heart {
        color:#26a69a;
    }
}

.btn-like:hover{
        text-decoration:none;
        color:#fff;
        background-color:#26a69a;

        .fa-heart {
            color:#fff;
        }
}

.btn-like:active {
    background-color:#1a9489 !important;
    text-decoration:none;
    color:#fff;
}

.lbl-view-timeline {
    margin-left:10px;
    float:left;
}

.recent-timeline-note {
    float:left; 
    width:85%;
    margin-left:15px;
}

.recent-timeline-note-container {
    overflow-y:scroll; 
    clear:both; 
    height:550px; 
    margin-right:10px;
}

/*---------------------------
    NOTIFICATION
-----------------------------*/

  .top-notification-widget{ background-color: rgba(0,0,0,.03)!important;
    margin: 15px 0;
    /*border: 1px solid #eee;*/
    padding: 10px;

    .btn{
            padding: 5px 10px;
            font-size: 10px !important;
            height: 30px;
            line-height: 10px;
    }
    .timeline-img {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
        margin-right: 10px;
        margin-top:0;

    }
  }
  .common-tag{
        line-height: normal !important;
        display: inline-block;
        padding: 5px !important;
        background: #ccc;
        font-size: 10px;
        font-weight: bold;
        border-radius: 5px;
        margin-right:5px;
        color:#333 !important ;
    }
  .lv-header{
      padding:12px 10px 6px 0 !important;
      text-align:left !important;
  }

 .lv-body {
    height: 72vh;
    overflow-y: auto;
}

  .dropdown-menu {
      z-index:99999 !important;
  }


  .recent-timeline-entry {
      display:inline-block;
      margin-left:5px;
      font-size:12px;
      line-height:25px;
  }

  .share-with-block {
      float:left;
      padding-left:15px;
  }

  .recent-timeline-item {
      clear:both;
      overflow:hidden;
      background-color:rgba(0,0,0,0.07);
      margin: 0.5rem 1rem;
      padding: 0.6rem !important;
  }

  .recent-activity-block {
      clear:both;
      margin-top:8px;
  }

  .box-item-header {
      color:#0277bd;
      margin:0 0 10px 0;
      font-size:14px;
      font-weight:400;
  }

  .custom-panel-collapse {
      background-color:rgba(0,0,0,0.07);
      margin-top:10px;
  }

  .custom-panel-collapse .panel-body {
      padding:10px;
  }

  .no-records-container  {
    background: #eceff1;
    padding:1rem;
    margin-bottom: 20px;

    p{
        margin:0;
        color:#666;
    }
  }