
// Mixins
// @import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/icons-material-design";
/*@import "components/grid";
@import "components/navbar";*/
/*@import "components/roboto";*/
@import "components/typography";
/*@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";*/
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/date_picker/default";
@import "components/date_picker/default.date";
@import "components/date_picker/default.time";
body {
    background-color: #fbfbfb;
    font-family: 'Roboto', sans-serif !important;

    #content{
        padding:0 0 30px 0 !important;
    }
    #main{
        margin-top:50px;
    }
    #header {
    background: #0277bd;}
}
.header-inner .logo a {
    color: #fff;
    text-transform: none;
    padding: 0;
    display: block;
    font-size: 30px;
    line-height: 36px;
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    text-decoration:none;
}

.login-logo {
    color: #ccc;
    text-transform: none;
    display: block;
    font-size: 60px;
    font-family: 'Sacramento', cursive;
    text-decoration: none;
    padding: 180px 0 0 0;
    text-align: center;
    font-weight: 600;

}

.top-serch{
    padding: 10px 0 15px 0;

    .glyphicon-search{
        padding: 0 10px 5px 0;
        color: #fff;
        font-size: 24px;
    }
    .main-search-input{
        background: none;
        border: none;
        color: #fff;
        font-weight: 200;
        font-size: 16px;
    }
    input[type="text"].main-search-input::-moz-placeholder{
        color:#fff;
    }
    
     input[type="text"].main-search-input::-webkit-input-placeholder{
        color:#fff;
        
    }
     .input-group-addon{
         background:none;
         border:none;
     }
}
.main-action-bar{
    background:#cfd8dc; 
    padding: 0 20px 10px;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.font-14{
    font-size:14px !important;
    font-weight:300;
}
h1, h3{font-size:26px;}

.btn-secondary{
    background:#90a4ae !important;
}

#chat{
    top:121px !important;
    height: calc(100% - 121px) !important;
    z-index:8 !important;
}


/*-------user login and registration--------*/
.login-content{
    /*background-image: url('../img/loging-bg.jpg');
    background-size: contain;
    background-position-x: -100px;*/
    background:#0277bd;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);

    .input-field label{
        font-weight:300 !important;
        margin-left:-10px;
    }


}
.top-menu > notifications> li > a.tm-notification {
    background-image: url(../img/icons/notification@2x.png);
    background-size: 24px 24px;
}

.tmn-counts {
    position: absolute;
    color: #FFF;
    font-style: normal;
    background: #f44336;
    padding: 1px 5px;
    border-radius: 2px;
    right: -10px;
    top: -3px;
    font-size: 10px;
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.glyphicon-bell{
    font-size: 26px;
    color: #fff;
}

.modal{
    background:none;
    box-shadow:none;
}
/*-----timeline------*/

h1{
    .btn {
            padding: 0 20px;
            margin-left:10px;
        span{
                display: block;
                float: right;
                padding: 1px 0 0 10px;
        }
    }
}

prime-app{
    input[type=text]{ height:20px;}
}

.timeline-icon{
    width: 40px;
    height: 40px;
    color: #ddd;
    text-align: center;
    padding: 9px 0;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 25px;
    /*margin: 0 0 0 -35px;*/
    border: 1px solid #ddd;
    background: #fff;
}
.timeline-img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.10);
}

.timeline-timestamp{
    text-align:center; 
    margin-left: -25px;
    margin-bottom: 20px;
}

.timeline-time{font-size:10px; margin-top:5px;}

.timeline-wrapper{
    background:none;
    margin-bottom:20px;
}

.timeline-group-heading{
    max-width: 170px;
    background: #ffe57f;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
  transition: .2s ease-out;

    a{
        color:#333;
    }
}
.timeline-group-heading:hover{
        background-color: #2bbbad;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

        a{
             color:#fff;
             text-decoration:none;
        }
}
.timeline-heading{
    /*background: #eceff1;*/
    background:#fff;
   padding: 10px;
    font-weight: 400;
    margin-top: 5px;
    /*margin-left:64px;*/
    transition: .2s ease-out;
    /*box-shadow: #f1f1f1 1px 2px 5px;*/
    font-size:16px;
    border-radius:2px;
    /*position:relative;*/
    a{
        color:#333;
    }
}
.timeline-heading:hover{
     background-color: #2bbbad;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
         a{
 color:#fff;
 text-decoration:none;
        }
}

.timeline-description{
    background: #fff;
    padding: 10px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
    margin-bottom:20px;
    /*margin-left:64px;*/
    font-size: 12px;
    font-weight: 300;
}

/*----------- timeline accordian componant------------*/
timeline-group .panel-open a .show-content {
    display: inline-block;
}

timeline-group .panel-open a .hide-content {
    display: none !important;
}
timeline-detail-group > .panel-open > .timeline-heading a .show-content {
   display: none !important;
}

timeline-detail-group > .panel-open > .timeline-heading a .hide-content {
    display: none !important;
     display: inline-block;
}
 a .hide-content {
    display: inline-block;
}

 a .show-content {
    display: none;
}

/*----------Add note slider ---------*/

#chat{
    width:60% !important;
    overflow-x:hidden;
    overflow-y:scroll;
    padding: 0 20px;
     display:none !important;
}

#chat.toggled {

  display:block !important;
  
}

/*----------Recent timeline ---------*/

.recent-timeline-timestamp {
    text-align: center;
    /* margin-left: -25px; */
    margin-bottom: 20px;
    font-size: 22px;
}
.recent-timeline-tags{
    font-size: 20px;
    text-decoration: none;
    padding-left: 40px;
}
.recent-timeline-tags:hover{
        text-decoration: none;
        cursor:pointer;
}
.lv-body .btn{
    font-size:12px !important;
}