<div class="container">
    <h1>{{title}}
        <button class="btn-secondary waves-effect  btn" (click)="modal.open()">
            <i class="material-icons">share</i> <span>share</span>
        </button>
    </h1>
    <modal #modal>
        <modal-header [show-close]="true">
            <h4 class="modal-title">Share with</h4>
        </modal-header>
        <modal-body>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>+</label>
                    </div>
                    <div class="form-group">
                        <label>These people</label>
                        <prime-app [isallowednewinput]="true" (tagsadded)='onSelectedTagsChanged($event)' (tagsremoved)="onSelectedTagsChanged($event)">Loading...</prime-app>
                    </div>
                    <div class="col-md-4">

                    </div>

                </div>
            </div>
        </modal-body>
        <modal-footer [show-default-buttons]="true"></modal-footer>
    </modal>

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Title</label>
                <input [(ngModel)]="noteRequest.title" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Description</label>
                <!--<textarea rows="10" cols="50" [(ngModel)]="noteRequest.description" class="form-control"></textarea>-->
                <p-editor [(ngModel)]="noteRequest.description" style="height: 320px">
                </p-editor>
                </div>
            <div class="form-group">
                <label>Tags</label>
                <prime-app [isAllowedNewInput]="true" (tagsAdded)='onSelectedTagsChanged($event)' (tagsRemoved)="onSelectedTagsChanged($event)">Loading...</prime-app>
            </div>
            <input type="button" value='Save' (click)="Save()" class="btn btn-success" />
            <!--<input type="button" value='Share' (click)="modal.open()" class="btn btn-primary" />-->
            <input type="button" value='Close' class="btn-secondary btn " />
        <div class="col-md-4">

        </div>

    </div>
</div>
</div>
<!--<timeline></timeline>-->
<input type="hidden" value="0" id="application-view-id" />