<div class="container">   



            <div class="col-md-8 add-note-form">
                <h1>
                    {{heading}}
                    <!--<button *ngIf="showCloseButton==false" class="btn-secondary  btn" (click)="modal.open()">
                        <i class="material-icons">share</i> <span>share</span>
                    </button>-->
                </h1>
                <!-- -------------share------------- -->
                <modal #modal>
                    <modal-header [show-close]="true">
                        <p>Share</p>
                    </modal-header>
                    <modal-body>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label for="user-app" class="col-sm-pull-4 control-label">Whom would you like to share with ?</label>
                                </div>
                                <div class="col-sm-10">
                                    <user-app [isAllowedNewInput]="false" (usersadded)='onSelectedUsersChanged($event)' (usersremoved)="onSelectedUsersChanged($event)">Loading...</user-app>
                                </div>
                            </div>
                        </div>
                    </modal-body>
                    <modal-footer>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="btn btn-primary" (click)="modal.close()">Ok</button>
                            </div>
                        </div>
                    </modal-footer>

                </modal>
                <!-- ---------------end share----------- -->

                <!-- -------------Add Note Form------------- -->
                <form *ngIf="active"  #noteForm="ngForm">
                    <div *ngIf="showCloseButton" class="form-group">
                        <label class="float-left">Tags</label>
						<div id="tagInput1"></div>
						<div id="tagInput" class="hidden"></div>
                        <br />
                    </div>
                    <div class="form-group">
                        <label class="float-left">Title</label>
                        <!-- <input [(ngModel)]="noteRequest.title" class="form-control" required ngControl="title"/>-->
                        <input type="text" class="form-control" required [(ngModel)]="noteRequest.title" ngControl="title" #title="ngForm">
                        <div [hidden]="title.valid || title.pristine" class="reqire-field">
                            Oops! Seems you have forgotten to enter title. 
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <!--<textarea rows="10" cols="50" [(ngModel)]="noteRequest.description" class="form-control"></textarea>-->
                        <!--<p-editor [(ngModel)]="noteRequest.description">
                        </p-editor>-->
                        <prime-editor (tagsAddedEditor) ="TagsAdded($event)" (tagsAddedDescription) ="TagsAddedDesc($event)"></prime-editor>
                    </div>
                    <div *ngIf="showCloseButton==false" class="form-group">
                        <label class="col-md-12 no-padding">Tags</label>
                        <div class="col-md-12 no-padding">
                            <prime-app [isAllowedNewInput]="true" [inputValues]="noteRequest.tags" (tagsAdded)='onSelectedTagsChanged($event)' (tagsRemoved)="onSelectedTagsChanged($event)">Loading...</prime-app>
                            <div *ngIf="!istagSelectionValidated" class="reqire-field">
                                Oops! Seems you have forgotten to select any tag for this note.
                            </div>
                        </div>
                    </div>
                    <!--<input type="button" value='Save' (click)="Save()" class="btn btn-success" />-->
                    <!--<input type="button" value='Share' (click)="modal.open()" class="btn btn-primary"/>-->
                    <!--<div class="form-group">
            <file-uploader [filesToUpload]="noteRequest.filesToUpload"></file-uploader>
        </div>-->

                    <button type="button" class="btn btn-success" [disabled]="!noteForm.form.valid" (click)="Save()" data-trigger="#chat" id="noteSave-trigger">Save</button>

                    <input *ngIf="showCloseButton" type="button" value='Close' class="btn-secondary btn " id="noteClose-trigger" data-trigger="#chat" (click)="Close()" />

                    </form>


</div>

            <!-- ------------- Tags suggestions and file upload------------- -->
            <div class="col-md-4 p-t-20">
                <div class="col-md-12 add-note-widget">

                    <!-- file upload -->
                    <!--<div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Browse&hellip; <input type="file" style="display: none;" multiple>
                            </span>
                        </label>
                        <input type="text" class="form-control file-upload" readonly>
                    </div>-->

                    <file-uploader [filesToUpload]="noteRequest.filesToUpload"></file-uploader>
                   
                    
                </div>

                <div class="col-md-12 tags-widget ">
                  TAG SUGGESTIONS

                    <div  class="water-mark-text"> Tag suggestions come here</div>
                </div>

            </div>
       

</div>

<!--<timeline></timeline>-->
<input type="hidden" value="0" id="application-view-id" />

<div style="position:absolute; width:100%; height:100vh; z-index:999999999999; background-color:rgba(0,0,0,0.7); top:0; left:0;" *ngIf="showLoading">
    <div style="width:200px; height:130px; position:absolute;  top:35%; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.01); background-color:#fff; border-radius:10px;   margin: 0 auto;left: 0;right: 0; overflow:hidden;">
        <div style="text-align:center; margin-top:14%; color:#2383bc;">
            <p style="position:absolute; left: 0; right:0; top:25%;">Loading</p>
            <img src="../../img/spinner.gif" style="max-width: 100%; width: 120px;" />
        </div>
    </div>
</div>