
    <h3>{{title}}</h3>

    <modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #parentModal>
        <modal-header [show-close]="true">
            <h4 class="modal-title">Share With</h4>
        </modal-header>
        <modal-body>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>+</label>
                        </div>
                        <div class="form-group">
                            <label>Yayi Users</label>
                            <user-app [isallowednewinput]="true" (usersAdded)='onSelectedUsersChanged($event)' (usersRemoved)="onSelectedUsersChanged($event)">Loading...</user-app>
                        </div>
                        <div class="col-md-4">

                        </div>

                    </div>
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="parentModal.dismiss()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="parentModal.close();shareTimeline()">Share</button>
        </modal-footer>
    </modal>



    <div class="col-md-12" *ngFor="#timeline of recentTimelines" class="media">
        <div class="col-md-1">
            <div alt="" class="timeline-icon row">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            </div>
            <div class="timeline-timestamp" calss="row">
                {{timeline.date }}
            </div>
        </div>

        <div class="col-md-11" >
            <div class="timeline-description row" id="collapseExample1">
                <div class="col-md-12">
                <div style="padding:10px 0px 10px 0px">
                    <div class="row">
                        <div class="col-md-11">
                            <a (click)="select(timeline)"><span *ngFor="#tag of timeline.tags; #last = last">{{tag.name}}<span *ngIf="!last"> + </span></span></a>
                            <span *ngIf="timeline.noOfEntries">({{timeline.noOfEntries}})</span> 
                        </div>
                        <div class="col-md-1" (click) ="watch(timeline); $event.stopPropagation()">
                            <span *ngIf="timeline.isWatched" class="fa-stack fa-lg" title="Watched">
                                <i class="fa fa-heart fa-stack-2x" style="color:cornflowerblue"></i>
                                <i class="fa fa-stack-2x" style="color:white"></i>
                            </span>
                            <span *ngIf="!timeline.isWatched" class="fa-stack fa-lg" title="">
                                <i class="fa fa-heart fa-stack-2x" style="color:grey"></i>
                                <i class="fa fa-stack-2x" style="color:white"></i>
                            </span>
                        </div>
                    </div>

                    <div style="padding:10px 0px 10px 0px">
                        <div class="row">
                            <div class="col-md-12">
                                {{timeline.recentActivity}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <span>SHARED WITH</span>
                    </div>

                    <div style="padding:10px 0px 10px 0px">
                        <div class="row">
                            <div class="col-md-9">
                                <css-carousel></css-carousel>
                            </div> 
                       
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
