<ul class="header-inner">
    <li class="pull-right">
        <ul class="top-menu">
            <li class="dropdown">
                <a data-toggle="dropdown" class="tm-settings" href=""></a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li class="hidden-xs">
                        <a data-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
                    </li>
                    <li>
                        <a data-action="clear-localstorage" href=""><i class="zmdi zmdi-delete"></i> Clear Local Storage</a>
                    </li>
                    <li>
                        <a href=""><i class="zmdi zmdi-face"></i> Privacy Settings</a>
                    </li>
                    <li>
                        <a (click)="logout()"><i class="zmdi zmdi-settings"></i> Logout</a>
                    </li>
                </ul>
            </li>

        </ul>
    </li>
</ul>
