<!--<ul class="header-inner">
    <li class="pull-right">
        <ul class="top-menu">
            <li class="dropdown">
                <a data-toggle="dropdown" class="tm-settings" href=""></a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li class="hidden-xs">
                        <a data-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
                    </li>
                    <li>
                        <a data-action="clear-localstorage" href=""><i class="zmdi zmdi-delete"></i> Clear Local Storage</a>
                    </li>
                    <li>
                        <a href=""><i class="zmdi zmdi-face"></i> Privacy Settings</a>
                    </li>
                    <li>
                        <a (click)="logout()"><i class="zmdi zmdi-settings"></i> Logout</a>
                    </li>
                </ul>
            </li>

        </ul>
    </li>
</ul>-->

<div class="sidebar-inner c-overflow">
    <div class="profile-menu">
        <a href="">
            <div class="profile-pic">
                <img src="img/profile-pics/1.jpg" alt="">
            </div>

            <div class="profile-info">
                User Name

                <i class="zmdi zmdi-arrow-drop-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a href="profile-about.html"><i class="zmdi zmdi-account"></i> View Profile</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
            </li>
            <li>
                <a (click)="logout()"><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        <li><a href="index.html"><i class="zmdi zmdi-home"></i> Time Line</a></li>
        <li><a href="typography.html"><i class="zmdi zmdi zmdi-format-underlined"></i> Notes</a></li>
    </ul>
</div>
