
            <div class="block-header">
                <h2></h2>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2>Login</h2>
                </div>

                <div class="card-body card-padding">
                    
                        <p class="c-black f-500 m-b-20">Username</p>
                            <div class="form-group">
                                <div class="fg-line">
                                    <input type="text" [(ngModel)]="userDetails.username" class="form-control" placeholder="Username">
                                </div>
                            </div>
                        <p class="c-black f-500 m-b-20">Password</p>
                            <div class="form-group">
                                <div class="fg-line">
                                    <input type="password" [(ngModel)]="userDetails.password" class="form-control" placeholder="Password">
                                </div>
                            </div>
                            <input type="button" value='Login' (click)="login()" class="btn btn-primary" />
                </div>
            </div>


    <!--<br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <label>Username: {{userDetails.username}}</label>
    <br />
    <br />
    <label>Password: {{userDetails.password}}</label>
    <br />
    <br />
    <section>
    <h2>Get values</h2>
    <hr>
    <h3></h3>
    <button (click)="getValues()">Get values</button>
    <section>-->
