 <!--<div class="panel panel-default" [ngClass]="{'panel-open': isOpen}">
    <div class="panel-heading" (click)="toggleOpen($event)">
        <h4 class="panel-title">
            <a href tabindex="0"><span>{{heading}}</span></a>
        </h4>
    </div>
    <div class="panel-collapse" [hidden]="!isOpen">
        <div class="panel-body">
            <ng-content></ng-content>
        </div>
    </div>
</div>-->


<div class="col-md-12 timeline-wrapper no-padding" [class.panel-open]="isOpen">
    <div *ngIf="isLabled" class="col-md-12 no-padding" style="background:#eceff1;margin-bottom:20px;">
        <span class="pull-right timeline-group-heading-count" (click)="toggleOpen($event)"> 
            <a href="#" tabindex="0">
                    <span>
                        {{availableCountText}}
                    </span>
                    <span class="show-content zmdi zmdi-chevron-up" (click)="toggleOpen($event)"></span>
                    <span class="hide-content zmdi zmdi-chevron-down" (click)="toggleOpen($event)"></span>
            </a>
        </span>
        <div class="timeline-group-heading">
            <a href="#" tabindex="0">
                <span [class.text-muted]="isDisabled" (click)="toggleOpen($event)"> {{heading}}</span>
            </a>
        </div>
    </div>
    <div class="panel-collapse" [hidden]="!isOpen">
            <ng-content></ng-content>
    </div>
</div>