 <!--<div class="panel panel-info" [class.panel-open]="isOpen">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#" tabindex="0"><span [class.text-muted]="isDisabled" (click)="toggleOpen($event)">{{heading}}</span></a>
        </h4>
    </div>
    <div class="panel-collapse" [hidden]="!isOpen">
        <div class="panel-body">
            <ng-content></ng-content>
        </div>
    </div>
</div>-->


<!--<div class="col-md-12" [class.panel-open]="isOpen">
    <div class="col-md-1">
        <div alt="" class="timeline-icon">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        </div>
        <div class="timeline-timestamp">
            <div> <span class="font-20">25 </span>May</div>
        <div class="timeline-time">12.00 PM</div> 
        </div>
    </div>
    <div class="col-md-11">
        <div class="timeline-heading">
            <a href="#" tabindex="0"><span [class.text-muted]="isDisabled" (click)="toggleOpen($event)">{{heading}}</span> <div class="pull-right"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></div></a> 
        </div>

        <div class="panel-collapse timeline-description " [hidden]="!isOpen">
            <ng-content></ng-content>

        </div>
    </div>
</div>-->


<div [class.panel-open]="isOpen">

    <div class="timeline-heading">
        <span [class.text-muted]="isDisabled" style="display:block;">
        <span class="note-list-item-heading">{{heading}}</span>
        <span class="hide-content note-desc">{{headerDescription}}</span><span class="show-content" style="font-weight: 300; font-size: 12px; text-decoration: none;"></span>
        
            
            
        </span>
            <!--<div class="pull-right" style="margin-top:-10px; color:#ddd;">
                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
            </div>-->
        
    </div>
    <div class="panel-collapse timeline-description" [hidden]="!isOpen">
        <ng-content></ng-content>
    </div>
    <div (click)="toggleOpen($event)" class="pull-left clear pleft-10">
        <a href="#" tabindex="0" class="common-link">
            {{showhideText}}
            <span class={{showhideStyle}}></span>
        </a>
    </div>
    
    
</div>
