 <!--<div class="panel panel-default" [ngClass]="{'panel-open': isOpen}">
    <div class="panel-heading" (click)="toggleOpen($event)">
        <h4 class="panel-title">
            <a href tabindex="0"><span>{{heading}}</span></a>
        </h4>
    </div>
    <div class="panel-collapse" [hidden]="!isOpen">
        <div class="panel-body">
            <ng-content></ng-content>
        </div>
    </div>
</div>-->


<div class="col-md-12 timeline-wrapper no-padding" [class.panel-open]="isOpen">
    <div class="col-md-12 no-padding" style="background:#eceff1;margin-bottom:20px;">
        <span class="pull-right" style="padding:10px;"> {{availableCountText}}</span>
        <div class="timeline-group-heading">
            <a href="#" tabindex="0">
                <span [class.text-muted]="isDisabled" (click)="toggleOpen($event)"> {{heading}}</span>
                <span class="show-content glyphicon glyphicon-eye-open"></span>
                <span class="hide-content glyphicon glyphicon-eye-close"></span>
            </a>
        </div>
    </div>
    <div class="panel-collapse" [hidden]="!isOpen">
            <ng-content></ng-content>
    </div>
</div>