 <!--<div class="panel panel-info" [class.panel-open]="isOpen">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#" tabindex="0"><span [class.text-muted]="isDisabled" (click)="toggleOpen($event)">{{heading}}</span></a>
        </h4>
    </div>
    <div class="panel-collapse" [hidden]="!isOpen">
        <div class="panel-body">
            <ng-content></ng-content>
        </div>
    </div>
</div>-->


<!--<div class="col-md-12" [class.panel-open]="isOpen">
    <div class="col-md-1">
        <div alt="" class="timeline-icon">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        </div>
        <div class="timeline-timestamp">
            <div> <span class="font-20">25 </span>May</div>
        <div class="timeline-time">12.00 PM</div> 
        </div>
    </div>
    <div class="col-md-11">
        <div class="timeline-heading">
            <a href="#" tabindex="0"><span [class.text-muted]="isDisabled" (click)="toggleOpen($event)">{{heading}}</span> <div class="pull-right"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></div></a> 
        </div>

        <div class="panel-collapse timeline-description " [hidden]="!isOpen">
            <ng-content></ng-content>

        </div>
    </div>
</div>-->


<div [class.panel-open]="isOpen">
        <div class="timeline-heading">
            <a href="#" tabindex="0"><span [class.text-muted]="isDisabled" (click)="toggleOpen($event)">{{heading}}</span>
                <div class="pull-right"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></div></a>
            <div style=" font-size: 12px">{{headerDescription}}</div>
        </div>
        <div class="panel-collapse timeline-description" [hidden]="!isOpen">
            <ng-content></ng-content>
        </div>
</div>
