<h3>WHAT IS GOING ON</h3>

<div class="col-md-12">
    <div class="col-md-2">
        <div alt="" class="timeline-icon">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        </div>

    </div>
    <div class="col-md-10">
        <div class="timeline-heading" data-toggle="collapse"  aria-expanded="false" aria-controls="collapseExample1">
            heading collapse one
        </div>
        <div class="timeline-description" >
            zcasd asdasd asdas dasd asd asd asd asas zcasd
        </div>

    </div>
</div>


<div class="col-md-12">
    <div class="col-md-2">
        <div alt="" class="timeline-icon">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </div>

    </div>
    <div class="col-md-10">
        <div class="timeline-heading" data-toggle="collapse"  aria-expanded="false" aria-controls="collapseExample1">
            Sample Task heading  <div class="pull-right"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></div>
        </div>
        <div class="timeline-description">
            zcasd asdasd asdas dasd asd asd asd asas zcasd asdasd asdas dasd asd asd asd 
        </div>

    </div>
</div>