<h3>WHAT IS GOING ON</h3>

<div class="col-md-12" *ngFor="#activity of whatisgoingonTimelines; #i=index">
    <div *ngIf="i<5">
        <div class="col-md-2">
            <div alt="" class="timeline-img">
                <img class="circle responsive-img" src={{activity.userImage}}>
            </div>

        </div>
        <div class="col-md-10">
            <div class="timeline-heading" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample1">
                {{activity.description}}
            </div>
            <div class="timeline-description">
                <a (click)="select(activity)"><span *ngFor="#tag of activity.tags; #last = last">{{tag.name}}<span *ngIf="!last"> + </span></span></a>
            </div>
        </div>
    </div>
</div>
