
<!-- Timeline Heading and Add Note -->
<h1>{{title}} 
    <button class="waves-effect  btn" id="chat-trigger" data-trigger="#chat">
        <i class="material-icons">playlist_add</i> <span>add note</span>
    </button>
</h1>
<!-- Tag search -->
<div style="margin-bottom:20px;">
    <prime-app [isAllowedNewInput]="false" [inputValues]="timeLineRequest.data" (tagsAdded)='onSelectedTagsChanged($event)' (tagsRemoved)="onSelectedTagsChanged($event)">Loading...</prime-app>
</div>

<!--<ul class="media-list">
    <li *ngFor="#c of selectedTags" class="media">{{c.name}}</li>
</ul>-->
<!--<ul class="media-list">
    <li *ngFor="#timeline of filteredTimelines" class="media">
        <div *ngIf="timeline.items.length > 0">{{timeline.dateFormat}}</div>
        <ul class="media-list">
            <li *ngFor="#Item of timeline.items" class="media">
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="well well-sm">
                                <div>{{Item.date }}</div>
                                <div>{{Item.time}}</div>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="well well-sm">
                                <accordion>
                                    <accordion-group [heading]="Item.title">
                                        {{Item.description}}
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>-->

<!--<accordion [closeOthers]="oneAtATime">
    <accordion-group [heading]="timeline.dateFormat" *ngFor="#timeline of filteredTimelines; #i = index" [isOpen]="i === 0">
        <ul class="media-list">
            <li *ngFor="#Item of timeline.items" class="media">
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="well well-sm">
                                <div *ngIf="timeline.dateFormat != 'NOW'">{{Item.date }}</div>
                                <div>{{Item.time}}</div>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="well well-sm">
                                <accordion [closeOthers]="true">
                                    <accordion-group [heading]="Item.title">
                                        {{Item.description}}
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </accordion-group>
</accordion>-->


<!-- Timeline -->
<timelineinfo close-others="true">
    <timeline-group [heading]="timeline.dateFormat" *ngFor="#timeline of filteredTimelines;  #i = index" [isOpen]="i === 0" [availableCountText]= "timeline.availableThreadsCountText">
        
        <div class="col-md-12 " *ngFor="#Item of timeline.items">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="col-md-1" style="border-left: 1px solid #eceff1; margin-left:-35px;">
                    <div alt="" class="timeline-icon">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    </div>
                    <div class="timeline-timestamp">
                        <div class="font-14" *ngIf="timeline.dateFormat != 'NOW'">
                            {{Item.date }}
                        </div>
                        <div class="timeline-time" *ngIf="timeline.dateFormat == 'NOW'">{{Item.time}}</div>
                    </div>
                </div>
                <div class="col-md-11 no-padding" style="margin-top:20px;">
                    <timelinedetail close-others="true">
                        <div alt="" class="timeline-img" style="position:absolute; margin-right:60px;">
                            <img class="circle responsive-img" src={{Item.userImageUrl}}>
                        </div>
                        <timeline-detail-group [heading]="Item.title" [headerDescription]="Item.plainDescriptionText">

                            <div [innerHTML]="Item.description"></div>
                        </timeline-detail-group>
                    </timelinedetail>
                </div>
            </div>
        </div>
    </timeline-group>
</timelineinfo>
<input type="hidden" value="2" id="application-view-id"/>



