

<!-- Timeline -->
 <!--<timelineinfo close-others="true">
    <timeline-group [heading]="timeline.dateFormat" *ngFor="#timeline of filteredTimelines;  #i = index" [isOpen]="i === 0" [availableCountText]="timeline.availableThreadsCountText">

        <div class="col-md-12 " *ngFor="#Item of timeline.items">
            <div class="col-md-12">
                <div class="col-md-1">
                    <div alt="" class="timeline-icon">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    </div>
                    <div class="timeline-timestamp">
                        <div class="font-14" *ngIf="timeline.dateFormat != 'NOW'">
                            {{Item.date }}
                        </div>
                        <div class="timeline-time" *ngIf="timeline.dateFormat == 'NOW'">{{Item.time}}</div>
                    </div>
                </div>
                <div class="col-md-11 no-padding" style="margin-top:20px;">
                    <timelinedetail close-others="true">
                        <div class="pull-right" style="margin-top: 20px;padding-right: 16px;color:#ddd;">
                            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        </div>

                        <div alt="" class="timeline-img" style="margin-right: 10px; margin-top: 10px; float: right;">
                            <img class="circle responsive-img" src={{Item.userImageUrl}}>
                        </div>

                        <timeline-detail-group [heading]="Item.title" [headerDescription]="Item.plainDescriptionText">

                            <div [innerHTML]="Item.description"></div>
                        </timeline-detail-group>
                    </timelinedetail>
                </div>
            </div>
        </div>
    </timeline-group>
</timelineinfo>--> 


<section id="main-content">
    <!--<div class="app-header-secondary">

    </div>-->

    <!-- Timeline Heading and Add Note -->
    <h1>
        {{title}}
        <button class="btn-secondary waves-effect  btn" id="chat-trigger" data-trigger="#chat">
            <i class="material-icons">playlist_add</i> <span> note</span>
        </button>
    </h1>
    <!-- Tag search -->
    <div style="margin-bottom: 20px;">
        <prime-app [isAllowedNewInput]="false" [inputValues]="timeLineRequest.data" (tagsAdded)='onSelectedTagsChanged($event)' (tagsRemoved)="onSelectedTagsChanged($event)">Loading...</prime-app>
    </div>
    
    <timelineinfo close-others="true">
        <div class="search-results"
             infinite-scroll
             [infiniteScrollDistance]="2"
             [infiniteScrollThrottle]="500"
             (scrolled)="onScroll()"
             [scrollWindow]="true">
        </div>
        <timeline-group [heading]="timeline.dateFormat" *ngFor="let timeline of filteredTimelines;  let i = index" [isOpen]="i === i" [availableCountText]="timeline.availableThreadsCountText" [isLabled]="timeline.isLabled">

            <section id="cd-timeline" class="cd-container">
             <div class="cd-timeline-block" *ngFor="let Item of timeline.items">
                    <div class="cd-timeline-img cd-location">
                        <!--<img src="img/cd-icon-location.svg" alt="Location">-->
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                    </div> <!-- cd-timeline-img -->
                 <div class="cd-timeline-content">
                     <timelinedetail close-others="true">
                         <div class="pull-right" style="margin-top: 20px;padding-right: 16px;color:#ddd;">
                             <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                         </div>

                         <div alt="" class="timeline-img" style="margin-right: 10px; margin-top: 10px; float: right;">
                             <img class="circle responsive-img" src={{Item.userImageUrl}}>
                         </div>

                         <timeline-detail-group [heading]="Item.title" [headerDescription]="Item.plainDescriptionText">
                             <div [innerHTML]="Item.description"></div>
                         </timeline-detail-group>
                     </timelinedetail>
                     <div class="timeline-item-datetime-container">
                         <span class="cd-date lbl-timeline-date" *ngIf="timeline.dateFormat != 'TODAY' && timeline.dateFormat != 'YESTERDAY'">{{Item.dateDay}}</span>
                         <span class="cd-date lbl-timeline-month" *ngIf="timeline.dateFormat != 'TODAY' && timeline.dateFormat != 'YESTERDAY'">{{Item.dateMonth}}</span>
                         <span class="cd-date lbl-timeline-date" *ngIf="timeline.dateFormat == 'TODAY' || timeline.dateFormat == 'YESTERDAY'">{{Item.timeHourMin}}</span>
                         <span class="cd-date lbl-timeline-month" *ngIf="timeline.dateFormat == 'TODAY' || timeline.dateFormat == 'YESTERDAY'">{{Item.timeAMPM}}</span>
                     </div>
                 </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->

            </section> <!-- cd-timeline -->
        </timeline-group>
    </timelineinfo>
</section>
<input type="hidden" value="2" id="application-view-id"/>



