<ul class="media-list">
    <li class="media">
        <div class="media-body">
            <div class="row">
                <div class="col-md-7">
                    <recentimeline></recentimeline>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12">
                            <whatisgoingon></whatisgoingon>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <thinkhelpful></thinkhelpful>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
<input type="hidden" value="1" id="application-view-id" />
  