<div class="box-header">
    <h3>THINK THESE ARE HELPFUL</h3>
</div>

<div class="box-body">
    <h3 class="box-item-header">
        Possible Leads?
    </h3>
    <div style="overflow:hidden; margin-bottom:10px;">
        <div style="float:left; width:30px; margin-right:12px; margin-top: 5px;">
            <img class="responsive-img" src="../../img/contacts/10.jpg" style="border-radius:50%;">
        </div>
        <div style="float:left; margin-bottom:10px;">
            <div class="timeline-heading" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample1" style="padding:0; font-size:14px;">
                ANDREW Johnson
            </div>
            <div style="box-shadow: none !important; overflow: hidden; font-size:12px;">
                CEO,CODE Connections
                LINKED WITH Mattias J
            </div>

        </div>
    </div>

    <h3 class="box-item-header">
        May be not so Interesting?
    </h3>
    <div style="overflow:hidden; margin-bottom:10px;">
        <div style="float:left; line-height:40px; margin-right:10px; color: #f44455; font-size: 45px">
                10
        </div>
        <div style="float:left; margin-bottom:10px;">
            <div class="timeline-heading" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample1" style="color: #f44455; padding:0; font-size:14px;">
                PROSPECTS
            </div>
            <div style="box-shadow: none !important; overflow: hidden; font-size:12px;">
                NOT VISITED BY any users inlast 6 months
            </div>

        </div>
    </div>
</div>