<div class="box-header">
    <h3>THINK THESE ARE HELPFUL</h3>
</div>
    <div class="col-md-12" style="color: green">
    POSSIBLE LEADS?
    </div>
    <div class="col-md-12">
        <div class="col-md-2">
            <div alt="" class="timeline-img">
                <img class="responsive-img" src="http://cdn.devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg">
            </div>

        </div>
        <div class="col-md-10">
            <div class="timeline-heading" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample1">
                ANDREW Johnson
            </div>
            <div class="timeline-description">
                CEO,CODE Connections
                LINKED WITH Mattias J
            </div>

        </div>
    </div>

    <div class="col-md-12" style="color: blueviolet">
        MAY BE NOT SO INTERESTING?
    </div>
    <div class="col-md-12">
        <div class="col-md-2">
            <div style="color: red; font-size: 45px">
                10
            </div>
        </div>
        <div class="col-md-10">
            <div class="timeline-heading" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample1" style="color: brown">
                PROSPECTS
            </div>
            <div class="timeline-description">
                NOT VISITED BY any users inlast 6 months
            </div>

        </div>
    </div>
